/* Mobile Small Devices (320px and up) */
@media (min-width: 300px) and (max-width: 320px) {
    .sidebar-trigger {
        top: 40vh;
    }
}
  
  /* Mobile Medium Devices (375px and up) */
  @media (min-width: 321px) and (max-width: 375px) {
    .sidebar-trigger {
        top: 40vh;
    }
}
  
  /* Mobile Large Devices (425px and up) */
  @media (min-width: 376px) and (max-width: 425px) {
    .sidebar-trigger {
        top: 40vh;
    }
}
  
  /* Tablets (768px and up) */
  @media (min-width: 426px) and (max-width: 768px) {
    .sidebar-trigger {
        top: 40vh;
    }
}
  
  /* Small Laptops (1024px and up) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .sidebar-trigger {
        top: 40vh;
    }
}