@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  cursor: default;
  overflow-x: hidden;
}

*::selection {
  cursor: default;
  background-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

/* .page2-heading {
  color: black;
  text-shadow: 
    -1px -1px 0 lime,  
    1px -1px 0 lime,
    -1px 1px 0 lime,
    1px 1px 0 lime;
}

.page2-heading::before {
  content: "DO YOU REALLY KNOW ME?";
  position: absolute;
  z-index: 0;
  left: 30.6vw;
  top: 3.2vw;
  color: white;
} */

.icon-name {
  color: black; /* Set text color to black */
  text-shadow: 
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.icon-name:hover{
  color: #BFFF00;
  text-shadow: none;
}

.achievements {
  position: relative;
  overflow: hidden;
}

.achievements::before {
  content: var(--content);
  position: absolute;
  top: 100%;
  width: 100%;
  height: 20vh;
  padding-top: 3vw;
  background-color: #BFFF00;
  transition: transform 0.3s ease;
  transform: translateY(0);
}

.achievements:hover::before {
  transform: translateY(-91%);
}

.scroll-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s, opacity 0.3s;
}

.card:hover {
  transform: scale(1.05);
  opacity: 0.9;
}