@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  cursor: default;
  overflow: hidden;
}

*::selection {
  cursor: default;
  background-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}


html {
  scrollbar-width: none;
}


body {
  -ms-overflow-style: none;
}
